<mat-list>
    <mat-list-item>
        <span>Bilet miesięczny</span>
        <a mat-raised-button color="primary" [routerLink]="['/ticket/offer/periodic/order', {discount: 'false', duration: 1}]">Kup</a>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet miesięczny ulgowy</span>
        <a mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" [routerLink]="['/ticket/offer/periodic/order', {discount: 'true', duration: 1}]">Kup</a>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 3-miesięczny</span>
        <a mat-raised-button color="primary" [routerLink]="['/ticket/offer/periodic/order', {discount: 'false', duration: 3}]">Kup</a>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 3-miesięczny ulgowy</span>
        <a mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" [routerLink]="['/ticket/offer/periodic/order', {discount: 'true', duration: 3}]">Kup</a>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 6-miesięczny</span>
        <a mat-raised-button color="primary" [routerLink]="['/ticket/offer/periodic/order', {discount: 'false', duration: 6}]">Kup</a>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 6-miesięczny ulgowy</span>
        <a mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" [routerLink]="['/ticket/offer/periodic/order', {discount: 'true', duration: 6}]">Kup</a>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet roczny</span>
        <a mat-raised-button color="primary" [routerLink]="['/ticket/offer/periodic/order', {discount: 'false', duration: 12}]">Kup</a>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet roczny ulgowy</span>
        <a mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" [routerLink]="['/ticket/offer/periodic/order', {discount: 'true', duration: 12}]">Kup</a>
    </mat-list-item>
</mat-list>