<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <h1>Login</h1>

    <mat-form-field appearance="fill">
        <mat-label for="username">Username</mat-label>
        <input id="username" type="text" formControlName="username" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="password">Password</mat-label>
        <input id="password" type="password" formControlName="password" matInput>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>

</form>