<mat-list>
    <mat-list-item>
        <span>Bilet 15-minutowy</span>
        <button mat-raised-button color="primary" (click)="onSubmit(false, 15, 'minutes')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 15-minutowy</span>
        <button mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" (click)="onSubmit(true, 15, 'minutes')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 45-minutowy</span>
        <button mat-raised-button color="primary" (click)="onSubmit(false, 45, 'minutes')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 45-minutowy</span>
        <button mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" (click)="onSubmit(true, 45, 'minutes')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 2-godzinny</span>
        <button mat-raised-button color="primary" (click)="onSubmit(false, 2, 'hours')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 2-godzinny</span>
        <button mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" (click)="onSubmit(true, 2, 'hours')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 6-godzinny</span>
        <button mat-raised-button color="primary" (click)="onSubmit(false, 6, 'hours')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 6-godzinny</span>
        <button mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" (click)="onSubmit(true, 6, 'hours')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 1-dniowy</span>
        <button mat-raised-button color="primary" (click)="onSubmit(false, 1, 'days')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 1-dniowy</span>
        <button mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" (click)="onSubmit(true, 1, 'days')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 2-dniowy</span>
        <button mat-raised-button color="primary" (click)="onSubmit(false, 2, 'days')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 2-dniowy</span>
        <button mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" (click)="onSubmit(true, 2, 'days')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 7-dniowy</span>
        <button mat-raised-button color="primary" (click)="onSubmit(false, 7, 'days')">Kup</button>
    </mat-list-item>
    <mat-list-item>
        <span>Bilet 7-dniowy</span>
        <button mat-raised-button color="primary" [disabled]="!userInfo?.eligibleForDiscount" (click)="onSubmit(true, 7, 'days')">Kup</button>
    </mat-list-item>
</mat-list>